body {
	background-color: #bbbfca;
	}
	h1 {
		color: #393b44;
		}
	h3{
		color: #393b44;
	}
	hr{
		board-style: none;
		board-top-style:dotted;
		board-color: grey;
		board-width:5px;
		width:50%
	}
