body {
	background-color: #f1f3f8;
	}
hr{
	border-style: none;
	border-top-style: dotted;
	border-color: grey;
	border-width: 5px;
	width: 10%;
}
	h1 {
		color: #66bfbf;
		}
	h3{
		color: #66bfbf;
	}
	
